<section>
	<div class="page-wrap">
		<ul>
			{{#each items}}
				<div class="item">
					{{!-- only post this is it's an article --}}
					{{#if headline}}
						<a href="http://ign.com/articles/{{year}}/{{month}}/{{day}}/{{slug}}" target="_blank">
							<h1 class="top-left">{{index}}</h1>
							<div class="mid-col">
								<h1 class="">{{{headline}}}</h1>
								<h3 class="faded">{{articleType}}</h3>
							</div>
						</a>
					{{/if}}
					{{!-- only post this is it's an video --}}			
					{{#if name}}
						<a href="{{url}}" target="_blank" data-desc="{{description}}">
							<h1 class="top-left">{{index}}</h1>
							<div class="mid-col">
								<h1 class="">{{{name}}}</h1>
								<h3 class="faded">{{genre}}</h3>
							</div>
							<h4 class="faded top-right">{{fullTime}}</h4>
						</a>
					{{/if}}
				</div>
			{{/each}}
		</ul>
	</div>
</section>