<section>
	<div class="page-wrap">
		<ul>
			{{#each items}}
				<div class="item">
					{{!-- only post this is it's an article --}}
					{{#if headline}}
						<h1 class="top-left">{{index}}</h1>
						<div class="mid-col">
							<a href="http://ign.com/articles/{{year}}/{{month}}/{{day}}/{{slug}}"><h1 class="">{{{headline}}}</h1></a>
							<h3 class="faded">{{articleType}}</h3>
						</div>
					{{/if}}
					{{!-- only post this is it's an video --}}			
					{{#if name}}
						<h1 class="top-left">{{index}}</h1>
						<div class="mid-col">
							<a href="{{url}}"><h1 class="">{{{name}}}</h1></a>
							<h3 class="faded">{{genre}}</h3>
						</div>
						<h4 class="faded top-right">{{fullTime}}</h4>
					{{/if}}
				</div>
			{{/each}}
		</ul>
	</div>
</section>